/* THE HEADER SECTION */

.header {
  font-family: Verdana;
  font-weight: bold;
  font-size: 14px;
  border-bottom: 1px solid black ;
  display: flex;
  align-items: center;
  position: fixed;
  z-index: 1;
  width: 100%;
  height: 80px;
  background-color: white;
}

.logo {
  display: flex;
  flex-grow: 1;
  align-items: center;
  padding-left: 30;
}

.logo span {
  color: MediumAquamarine;
}

.logo img {
  padding: 10px;
}

nav {
  padding-right: 40px;
  display: block;
}

nav span {
  display: inline-block;
  padding: 20px 10px;
}

 nav a {
  color: black;
}

/* THE MAIN CONTENT SECTION */

.content {
  display: flex;
  width: 1232px;
  margin: 0 auto 78px auto;
  padding-top: 116px;
}

.column {
  display: flex;
  flex-direction: column;
  margin-right: 32px;
}

div {
  border: 1px solid black
}

.column.large {
  display: flex;
  width: 630px;
}

.column.medium {
  display: flex;
  width: 300px;
}

.column.small {
  display: flex;
  width: 240px;
}
